[user]
	name = sinnchan
	email = sinn67c3z42@icloud.com
[init]
	defaultBlanch = main
	defaultBranch = main
[merge]
	ff = false
[pull]
	ff = only
[core]
	autocrlf = input
	editor = vim
[alias]
    tree = log --graph --oneline --all
    graph = log --graph --pretty=format:'%C(cyan)<-----------------------------------------------------------*%n%w(0, 2, 2)%C(yellow)[%h] %C(auto)%D %n%C(blue)Author: %<(28,trunc)%an [%ad]%n%C(blue)Commit: %<(28,trunc)%cn [%cd]%n%n%s%n%b%n' --date=format-local:'%Y-%m-%d %H:%M:%S'
